body{
    font-family: sans-serif;
    text-align: center;
    background-color: #f9f9f9;
}

.colecao{
    display: grid;
    grid-template-columns: repeat(3,100px);
    gap: 10px;
    justify-content: center;
    margin: 20px auto;
}

.slot{
    width: 100px;
    height: 130px;
    background-color: #eee;
    border: 2px dashed #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    position: relative;
}