
#album-container {
  margin-top: 30px;
  text-align: center;
}

#cartas-album {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carta-album {
  width: 150px;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carta-container {
    position: relative;
    display: inline-block;
}

.quantidade-insigna {
    position: absolute;
    top: 5px;
    left: 5px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 2px 6px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.carta-container:hover .quantidade-insigna {
  opacity: 1;
}

.carta-container img {
  transition: 0.3s ease;
  display: block;
  box-shadow: o 2px 4px rgba(0,0,0,0.1);
}

.carta-container:hover img {
  transform: scale(1.05);
}

#colecao {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    justify-items: center;
}

.slot {
    width: 150px;
    height: 220px;
    border: 1px dashed #ccc;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.slot:hover img {
    transform: scale(1.05);
}

.quantidade-insigna {
    position: absolute;
    top: 5px;
    left: 5px;
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 2px 6px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.slot:hover .quantidade-insigna {
    opacity: 1;
}

/* colecao.css */

.back-arrow {
    display: inline-block; /* Para permitir margin e padding */
    margin: 20px; /* Espaço ao redor do botão */
    padding: 10px 15px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none; /* Remove o sublinhado padrão do link */
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 1em;
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
}

.back-arrow:hover {
    background-color: #e0e0e0;
}
