body {
    background: linear-gradient(#2A628F, #0A2342);
    color: #F8F8F8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: sans-serif;
}

.barra-superior{
background: #0A2342;
    padding: 20px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    border-bottom: 3px solid #FF8C00 ; 
    border-top: 3px solid #FF8C00;
    border-left: 3px solid #FF8C00;
    border-right: 3px solid #FF8C00;
    color: #F8F8F8; 
}


.btn{
   display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #2A628F; 
    color: #F8F8F8; 
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    margin: 5px
}
.btn:hover,
.btn:focus {
  transform: scale(1.08);
    background: rgba(255, 140, 0, 0.4); 
    outline: none;
    color: #333333;
}

.centralizar-btn{
  text-align: center;
  width: 100%;
}

.abrir-pack{
 display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #FF8C00; 
    color: #333333; 
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    border: 2px solid #0A2342; 
    margin-top: 50px;
    margin-bottom: 20px;
}

.abrir-pack:hover {
    background-color: #FFB040; /* Um tom mais claro de laranja no hover */
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.carrossel {
 overflow: hidden;
    width: 100%;
}

.carrossel-track {
  display: flex;
  animation: scroll 20s linear infinite;
  white-space: nowrap;
  padding: 10px 0;
}

.carrossel-track img {
  width: 300px;
  height: auto;
  margin: 0 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.bi{
  margin-right:  8px;
  font-size: 1.4rem;
}
