body {
    background: linear-gradient(blue, lightblue);
    color: azure;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.barra-superior{
    background: rgb(61, 187, 236);
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid #333;
}

.Logo {
    width: 200px;
    height: auto;
}

.barra-inferior{
    background: linear-gradient(blue, lightblue);
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid black;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.btn{
    background: none;
    border: none;
    color: white;
    padding: 10px;
    font-size:  1rem;
    transition: color 0.3s;
    flex: 1;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.btn:hover{
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 8px 12px rgba(0,0,0,0.2);
}

@keyframes pulsar-link {
    0%{ opacity: 1 ; }
    50%{opacity: 0.5; }
    100%{opacity: 1 ; }
}

.btn a {
    animation: pulsar-link 2s ease infinite;
    color: inherit;
    text-decoration: none;
}

.abrir-pack{
    background-color: #fc0;
    color: #111133;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-decoration: none;
}

.abrir-pack:hover{
        transform: translateY(-5px) scale(1.02);
    box-shadow: 0 8px 12px rgba(0,0,0,0.2);
}

@keyframes pulsar-abrir-pack {
    0%{ opacity: 1 ; }
    50%{opacity: 0.5; }
    100%{opacity: 1 ; }
}

.abrir-pack a {
    animation: pulsar-abrir-pack 2s ease infinite;
    color: inherit;
    text-decoration: none;
}